@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="grid_12">
        <div class="box round first grid">
            <h2>Index</h2>
            <div class="block">
                <div>      
                </div>
            </div>
        </div>
    </div>
</div>
