@using SportsStore.WebUI.Models;
@using SportsStore.WebUI.HtmlHelpers;
@using SportsStore.Domain.Entities;

@model ProductListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (Product product in this.Model.Products)
{
    Html.RenderPartial("ProductSummary", product);
}

<div>
    @Html.PageLinks(@Model.PagingInfo, x => Url.Action("List", new { page = x, category = @Model.CurrentCategory }))
</div>
