<ul>
    <li><a href="form-controls.html">Nhóm Sản Phẩm</a> </li>
    <li><a href="@Url.Action("Index", "Product")">Sản Phẩm</a> </li>
    <li><a href="@Url.Action("CreateCategory", "Products")">Tạo Nhóm</a> </li>
    <li><a href="@Url.Action("Create", "Product")">Tạo Sản Phẩm</a> </li>
</ul>
